$color-light-blue: #00B2E3;
$color-green: #56A936;

$color-primary:#429CF0;
$color-primary-hover: #41AEEF;
$color-success: $color-green;
$color-success-hover: #81C132;
$color-warning: #F0AC56;
$color-warning-hover: #EFC673;
$color-danger: #E34845;
$color-danger-hover: #FD7774;
$color-info: #909399;
