@import './colors.scss';
@import './iconfont/iconfont.css';
@import "~vue-snotify/styles/material";

* {
  box-sizing: border-box;
}

.btn {
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  color: #fff;
  padding: 0 20px;
  height: 30px;
  border-radius: 4px;
  transition: background-color .3s;

  &-primary {
    background-color: $color-primary;
    &:hover {
      background-color: $color-primary-hover;
    }
  }
  &-success {
    background-color: $color-success;
  }
  &-warning {
    background-color: $color-warning;
    &:hover {
      background-color: $color-warning-hover;
    }
  }
  &-danger {
    background-color: $color-danger;
    &:hover {
      background-color: $color-danger-hover;
    }
  }
  &-info {
    background-color: $color-info;
  }
}

.dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
  }

  &-content {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #666;
    border-radius: 6px;
  }
}

.form {
  letter-spacing: 0;
  &-item {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    label {
      width: 80px;
    }
    .input {
      display: flex;
      flex: 1;
      height: 100%;
      input {
        flex: 1;
        height: 30px;
      }
      &-checkbox {
        display: flex;
        align-items: center;
        label {
          width: auto;
          margin-left: 4px;
        }
        & ~ .input-checkbox {
          margin-left: 1em;
        }
      }
    }
  }
}